<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Thanks for helping!</title>

    </head>
    <body>
        <h1 style="margin-left: 1rem; margin-top: 2rem;">
            Thanks for helping, you can now close this window
        </h1>
    </body>
</html>
